
.rodape {
    width: 100%;
    height: 50px;
    background-color: #ffd188;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Julius Sans One", sans-serif;
}

footer p {
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
}

