.card_categoria {
    margin: 50px 0;
    width: 260px;
    height: 360px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 10px 10px 40px 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    box-shadow: var(--sombreamento)
}

.card_cacau {
    background: linear-gradient(180deg, rgba(59, 31, 0, 1) 0%, rgba(107, 57, 0, 1) 100%);
}

.card_produtos svg:first-child {
    width: 20px;
    align-self: flex-end;
}

.svg_principal {
    width: 150px;
}

.card_cerimonias {
    background: linear-gradient(180deg, rgba(6, 23, 135, 1) 26%, rgba(91, 106, 205, 1) 100%);
}

.card_morango {
    background: linear-gradient(180deg, rgba(46, 1, 1, 1) 0%, rgba(235, 68, 68, 1) 100%);
}

.card_natal {
    background: linear-gradient(180deg, rgba(4, 42, 16, 1) 0%, rgba(26, 185, 79, 1) 100%);
}

.card_coco {
    background: linear-gradient(180deg, rgba(87, 44, 7, 1) 19%, rgba(179, 137, 71, 1) 100%);
}

.card_destaques {
    background: linear-gradient(180deg, rgba(13, 9, 125, 1) 0%, rgba(151, 82, 196, 1) 100%);
}
